# System files
.DS_Store
Thumbs.db
desktop.ini

# Editor settings
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and temp
dist/
build/
tmp/
temp/
